@font-face { font-family: 'Noto Sans KR'; src: url(./Noto_Sans/NotoSansKR-Bold.otf); font-weight: 700 format('opentype'); }
@font-face { font-family: 'Noto Sans KR'; src: url(./Noto_Sans/NotoSansKR-Medium.otf); font-weight: 500 format('opentype'); }
@font-face { font-family: 'Noto Sans KR'; src: url(./Noto_Sans/NotoSansKR-Regular.otf); font-weight:normal format('opentype'); }


::-webkit-scrollbar {
  width: 8px;  /* 세로축 스크롤바 길이 */
  z-index: 9999;
  position: absolute;
  left: 0px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #e5e5e5e5;
}

body {
  overflow: overlay;
}

.ql-editor>p>img{
  max-width:100%;
}

.ql-align-center{
  display:flex;
  align-items: center;
  justify-content: center;
}


.btn_one{
    background-color: #6200EE;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn_feedBack{
  width: 100%;
  height: 56px;
  left: 0px;
  top: 560px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5EAF9;
  border-radius: 2px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}

.btn_event{
  background: #7E3FF2;
  border-radius: 8px;
  font-family: Noto Sans KR;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  margin-top: 40px;
  margin-bottom: 48px;
}
.btn_feedBack:hover{
  background: #EDBDFF;
}
.btn_google{
  position: absolute;
  width: 228px;
  height: 56px;
  display: flex;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  border-radius: 8px;
  cursor: pointer;
}

.btn_kakao{
  position: absolute;
  width: 228px;
  height: 56px;
  display: flex;
  align-items: center;
  background: #FEE500;
  border-radius: 8px;
  cursor: pointer;
}

.login_btn_text{
  font-family: Noto Sans KR;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000;

}

/* .btn_google:hover{
  background-color:#9120BD;
  color:#fff;
  font-weight: 700;
} */

.btn_one:hover{
    background-color:#9120BD;
}
.btn_textBtn:hover{
  color:#9120BD;
}
.btn_one_disible{
    background-color: #c4c4c4;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    position: absolute;
    font-weight: bold;
}

.btn_one_big{
    background-color: #6200EE;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_one_big:hover{
    background-color:#7E3FF2;
}

.btn_one_big2{
    background-color: #fff;
    border:3px solid #6200EE;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #6200EE;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_two{
    background-color: #fff;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #9C31C6;
    color: #6200EE;
    font-size: 14px;
    cursor: pointer;
}

.btn_three{
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e5e5e5;
    color: #262626;
    font-size: 14px;
    cursor: pointer;
}

.btn_four{
    background-color: #e5e5e5;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #262626;
    font-size: 14px;
    cursor: pointer;
}

.btn_five{
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  border:1px solid #fff;
  font-weight: 500;
}

.btn_textBtn{
    font-size:14px;
    color:#000;
    cursor:pointer;
    line-height: 14px;
    height:14px;
    display: flex;
    font-weight: 500;
    align-items: center;
}

.btn_textBtn_register{
  width: 184px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px solid #EFE5FD;
  box-sizing: border-box;
  border-radius: 48px;
  font-size: 16px;
  margin-right: 16px;
}

.btn_six{
  background: #FFFFFF;
  border: 1px solid #F1F1F1;
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#7b7b7b;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
}

.btn_six:hover{
  border: 1px solid #9C31C6;
  font-weight: 700;
  color:#9C31C6;
}

.btn_textBtn13{
    font-size:13px;
    color:#262626;
    cursor:pointer;
    line-height: 13px;
    height:13px;
}

.btn_textBtn13:hover{
    color: #9C31C6;
}

.btn_textBtn:hover{
    color: #9C31C6;
}

.btn_modify{
  background-color: #fff;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:1px solid #9C31C6;
  color: #6200EE;
  font-size: 14px;
  cursor: pointer;
}

.btn_modify:hover{
  background: #9C31C6;
  color: #fff;
  font-weight: 700;
}

*{
    box-sizing: border-box;
    outline: none;
    margin:0px;
    padding:0px;
    font-family: "Noto Sans KR";
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
  color:#6200EE;;
}

input::placeholder{
    color:#a5a5a5;
}

input{
    border: 1px solid #e5e5e5;
}

input:hover{
    border: 1px solid rgba(156,49,198,0.3);
}

input:focus{
  border: 1px solid rgba(156,49,198,0.3);
}

.quillInput{
    border:1px solid #9965F4;
    border-radius: 2px;
}

.quillInput:hover{
    border: 1px solid rgba(156,49,198,0.3);
}

.ql-editor.ql-blank::before {
    color: #a5a5a5;
    content: attr(data-placeholder);
    pointer-events: none;
    left:16;
    font-size: 14px;
    position: absolute;
  }

  .ql-clipboard{
      display: none;
  }

  .btn_up{
      background-color: #9C31C6;
  }

  .btn_up:hover{
    background-color: #9120BD;
  }

  .modal_background{
    position:fixed;
    width:100vw;
    height:100vh;
    background-color:rgba(80,80,80,0.9);
    display:flex;
    justify-content:center;
    z-index: 999999;
  }


.review_btn:hover{
  color:#9C31C6;
}