@font-face { font-family: 'Noto_Sans'; src: url(./Noto_Sans/NotoSansKR-Bold.otf); font-weight: 700 format('opentype'); }
@font-face { font-family: 'Noto_Sans'; src: url(./Noto_Sans/NotoSansKR-Medium.otf); font-weight: 500 format('opentype'); }
@font-face { font-family: 'Noto_Sans'; src: url(./Noto_Sans/NotoSansKR-Regular.otf); font-weight:normal format('opentype'); }

.ql-editor>p>img{
  width:100%;
}

.btn_one{
    background-color: #9c31c6;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.btn_one:hover{
    background-color:#9120BD;
}

.btn_one_disible{
    background-color: #c4c4c4;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 14px;
    position: absolute;
    font-weight: bold;
}

.btn_one_big{
    background-color: #9c31c6;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_one_big:hover{
    background-color:#9120BD;
}

.btn_one_big2{
    background-color: #fff;
    border:3px solid #9c31c6;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9c31c6;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.btn_two{
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #9C31C6;
    color: #9c31c6;
    font-size: 14px;
    cursor: pointer;
}

.btn_three{
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #e5e5e5;
    color: #505050;
    font-size: 14px;
    cursor: pointer;
}

.btn_four{
    background-color: #e5e5e5;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #505050;
    font-size: 14px;
    cursor: pointer;
}

.btn_textBtn{
    font-size:14px;
    color:#505050;
    cursor:pointer;
    line-height: 14px;
    height:14px;
}

.btn_textBtn13{
    font-size:13px;
    color:#505050;
    cursor:pointer;
    line-height: 13px;
    height:13px;
}

.btn_textBtn13:hover{
    color: #9C31C6;
}

.btn_textBtn:hover{
    color: #9C31C6;
}

*{
    box-sizing: border-box;
    outline: none;
    margin:0px;
    padding:0px;
    font-family: "Noto Sans KR";
    transition: 0.2s;
}

a{
    text-decoration: none;
    color:#505050;
}

a:hover{
  color:#9C31C6;
}

input::placeholder{
    color:#a5a5a5;
}

input{
    border: 1px solid #e5e5e5;
}

input:hover{
    border: 1px solid rgba(156,49,198,0.3);
}

.quillInput{
    border:1px solid #e5e5e5;
}

.quillInput:hover{
    border: 1px solid rgba(156,49,198,0.3);
}

.quillInput::selection{
    border: 1px solid rgba(156,49,198,0.3);
}

.ql-editor.ql-blank::before {
    color: #a5a5a5;
    content: attr(data-placeholder);
    pointer-events: none;
    left:16;
    font-size: 14px;
    position: absolute;
  }

  .ql-clipboard{
      display: none;
  }

  .btn_up{
      background-color: #9C31C6;
  }

  .btn_up:hover{
    background-color: #9120BD;
  }

  @media screen and (max-width:320px){
    .iphone{
      margin-left: -72px;
    }
  }
@media screen and (max-width:767px){

  .homepage_title{
    display: none;
  }

  #header{
    position: relative;
  }

  .review_btn{
    display: none;
  }

  .header_logo{
    top:0px;
    left:0px;
    margin-left: 20px;
    position: absolute;
    width:90px;
    height:48px;
    z-index:9999;
    background-repeat: no-repeat;
    background-position: center;
  }

  .main_proveit{
    display: none;
  }

    .modal_background{
        position:fixed;
        width:100vw;
        height:100vh;
        background-color:rgba(80,80,80,0.9);
        display:flex;
        justify-content:center;
      }
    
      .modal_login{
        /* 폰화면 */
        width:90%;
        padding:56px 44px 40px 44px;
        font-size: 13px;
    
        margin-top:179px;
        background-color:#fff;
        border-radius:12px;
        display:flex;
        align-items:center;
        flex-direction:column;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-100%);
        color:#505050;
      }
    
      .header_bar{
        /* 폰화면 */
        padding: 0px 20px 0px 20px;
        height: 100%;
        width:100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        position:relative;
      }
    
      .signup{
        width:100%;
        justify-content:center;
        display:flex;
        flex-direction:column;
        align-items:center;
      }

    .main_body{
       /* 폰화면 */
      width:100vw;
      height:100%;
    }

    .main_body_product_date{
      display:flex;
      justify-content:space-between;
      align-items:center;
      font-size: 16px;
      padding:0px 20px 16px 20px;
    }
  
    .main_body_product_thumbnail{
      /* 폰화면 */
      width:56px;
      min-width:56px;
      min-height:56px;
      height:56px;
      margin-right:16px;
  
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
    }
  
    .main_body_product_list{
      width:100%;
      height:100%;
      margin-right:16px;
    }
  
    .main_body_product_item{
      width:100%;
      display:flex;
      padding:16px;
      justify-content:space-between;
      background-color:#fff;
      position:relative;
      cursor:pointer;
      border-bottom:1px solid #e5e5e5;
    }
  
    .main_body_product_title{
      color:#505050;
      font-weight:bold;
      font-size:14px;
      height: 14px;
      overflow: hidden;
      margin-bottom:8px;
      line-height:14px;
      margin-right: 16px;
    }
  
    .main_body_product_subtitle{
      color:#828282;
      font-size:12px;
      max-height: 32px;
      overflow: hidden;
      margin-bottom:12px;
      line-height:17.38px;
      margin-right: 16px;
    }

    .main_body_product_likecount{
      width:56px;
      min-width:56px;
      height:80px;
      display:flex;
      flex-direction:column;
      align-items:center;
      border:1px solid #e0e0e0;
      border-radius:2px;
    }
  
    .signup_input{
      width:100%;
      height:40px;
      line-height:40px;
      font-size: 13px;
      color:#505050;
      border:1px solid #e5e5e5;
      border-radius:2px;
      padding-left:12px;
    }
  
    .signup_group_title{
      font-size:20px;
      font-weight:bold;
      height:20px;
      line-height:20px;
      text-align:left;
      width:100%;
      margin-bottom:24px;
    }
  
    .signup_group{
        padding:24px 19px 24px 19px;
        background-color:#fff;
        border-radius:2px;
        width:100%;
        display:flex;
        flex-direction:column;
    }

    .product_item{
        width:100vw;
        height:88px;
        padding: 24px 20px 24px 20px;
        display:flex;
        align-items:center;
    }

    .product_item_title{
      color:#505050;
      font-weight:bold;
      font-size:16px;
      margin-bottom:12px;
      line-height: 16px;
    }

    .product_item_subtitle{
      color:#828282;
      font-size:13px;
      margin-bottom:12px;
      line-height: 13px;
    }
    .product_item_sort{
        display:flex;
        width:100%;
        flex-direction: column;
    }
    .product_thumbnail{
        width:88px;
        min-width:88px;
        min-height:88px;
        height:88px;
        margin-right:16px;
  
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
    }

    .product_img_previewArray{
      display: none;
    }

    .product_item_group{
        width:100vw;
        background-color:#fff;
        box-sizing:border-box;
        margin-right:16px;
        margin-bottom:40px;
    }

    .product_item_img{
        width:100vw;
        height:100%;
        margin-bottom:16px;
        cursor:pointer;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        transition:0.3s;
        position:relative;
    }

    .product_main_text{
      padding:0px 20px 0px 20px;
    }

    .product_sharebar{
      padding:0px 20px 20px 20px;
    }

    .product_item_comment{
      width:100%;
      background-color:#fff;
      box-sizing:border-box;
      margin-right:16px;
      margin-bottom:67px;
    }

    .product_item_comment_input{
      text-align:left;
      color:#505050;
      font-size:14px;
      width:200px;
      border:0px solid transparent;
      padding:6px 6px 6px 6px;
      box-sizing:border-box;
      display:flex;
      flex-direction:column;
      justify-content:center;
      min-height:48px;
    }

    .product_item_comment_submit{
      display:flex;
      width: 100vw;
      border-top:1px solid #f1f1f1;
      padding:12px 19px 13px 16px;
    }

    .product_item_reply_length{
    text-align:left;
    font-weight:bold;
    font-size:14px;
    margin-bottom:21px;
    padding-left: 19px;
    }

    .product_item_comment_submit_under{
      display:none;
      padding-bottom:16px;
    }


    .product_item_comment_sort{
      display: flex;
      width: 100vw;
      flex-direction: column-reverse;
    }
    .product_item_comment_submitbtn{
        width:78px;
        height:48px;
        margin-left:8px;
        background-color: transparent;
        color: #9C31C6;
    }

         /* 추가 */
    .product_item_reply{
      width:100%;
      display:flex;
      position:relative;
      height: 100%;
      margin-bottom:16px;
    }

    .product_item_reply_depth{
      width:90%;
      display:flex;
      position:relative;
      height: 100%;
      margin-bottom:16px;
      margin-left:36px;
    }

    .product_item_reply_list{
      width:100%;
      background-color:#fff;
      padding:24px 19px 24px 19px;
      box-sizing:border-box;
    }
    .product_btn_phone{
      display: flex;
      width:100vw;
      padding:0px 20px 0px 20px;
      height: 56px;
      margin-bottom: 16px;
    }

    .product_item_producer{
      width:100%;
      height:108px;
      background-color:#fff;
      border-radius:2px;
      font-size:14px;
      padding:16px 24px 24px 24px;
      text-align:left;
      margin-top:-32px;
      margin-bottom: 24px;
    }

    .product_item_web{
      display: none;
    }

    .bigImgWindow{
      position:fixed;
      width:100vw;
      height:100vh;
      display:none;
      background-color:rgba(80,80,80,0.4);
      justify-content:center;
      align-items:center;
      z-index:999;
    }

    .btn_up{
      display: none;
      z-index: 99999;
      width:40px;
      height:40px;
      position:fixed;
      bottom:40px;
      right:40px;
      background-repeat:no-repeat;
      background-position:center;
      cursor:pointer;
    }

    .header_icon_web{
      display:none;
    }

    .header_icon_phone{
      width:24px;
      height:24px;
      background-image:url("../image/icon_hambug.svg");
      cursor: pointer;
    }

    .kakao_share{
      width:100%;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_kakao_phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #fee500;
      border-radius: 2px;
      cursor:pointer;
    }

    .facebook_share{
      width:100%;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_facebook_phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color: #4267B2;
      border-radius: 2px;
      cursor:pointer;
    }

    .twitter_share{
      width:100%;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_twitter_phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-color:#1B95E0;
      border-radius: 2px;
      cursor:pointer;
    }

    .link_share{
      width:100%;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_link_phone.svg");
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 2px;
      border: 1px solid #e5e5e5;
      cursor:pointer;
    }

    /* 프로필 추가 */

    .profile_main{
      width:100vw;
      height:100%;
      display:flex;
      align-items:center;
    }

    .profile_main_thumbnail{
      width:96px;
      height:96px;
      border-radius:50%;
      background-color:#e5e5e5;
      margin-right:16px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }
    .profile_main_body{
      width:100vw;
      margin-top:32px;
      margin-bottom:32px;
    }
    
    .profile_main_productList{
      width:100%;
    }

    .profile_main_full{
      width:100vw;
      margin-top:32px;
      flex-direction:column;
      margin-bottom:32px;
    }

}


@media screen and (min-width:1080px){

  .header_logo{
    top:0px;
    left:0px;
    margin-left: 32px;
    position: absolute;
    width:90px;
    height:48px;
    z-index:9999;
    background-repeat: no-repeat;
    background-position: center;
  }

  .review_btn{
    width: 100vw;
    height: 100%;
    min-height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .review_btn:hover{
    color:#fff;
  }

  .header_usermenu{
    width:232px;
    display:flex;
    flex-direction:row-reverse;
    margin-right: 32px;
  }

  .homepage_title{
    width: 1040px;
    margin-top: 56px;
    margin-bottom: 70px;
  }

  .hompage_title_main{
    color: #505050;
    font-size: 32px;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }

  .hompage_title_sub{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #828282;
  }

  

  .main_proveit{
    width:336px;
    height:115px;
    color:#505050;
    font-size:13px;
    line-height:23.4px;
    text-align:left;
  }

    .btn_up{
      z-index: 99999;
      width:40px;
      height:40px;
      position:fixed;
      bottom:84px;
      right:80px;
      background-repeat:no-repeat;
      background-position:center;
      cursor:pointer;
    }

    .modal_background{
        position:fixed;
        width:100vw;
        height:100vh;
        background-color:rgba(80,80,80,0.9);
        display:flex;
        justify-content:center;
      }
    
      .modal_login{
        /* 웹화면 */
        width:688px;
        padding:56px 24px 40px 24px;
        font-size: 16px;
    
        margin-top:179px;
        background-color:#fff;
        border-radius:4px;
        display:flex;
        align-items:center;
        flex-direction:column;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-100%);
        color:#505050;
      }

      #header{
        width: 100vw;
        position: relative;
        z-index: 99999;
      }
    
      .header_bar{    
        width:100%;
        height: 100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        position:relative;
      }

      .header_bar_menu{
        width: 1040px;
        font-size: 15px;
        
      }

      .header_bar_menu:hover{
        color:#f00;
      }
    
      .signup{
        width:512px;
        justify-content:center;
        display:flex;
        flex-direction:column;
        align-items:center;
      }

    .main_body{
      /* 웹화면 */
      display:flex;
      width:1040px;

  
      height:100%;
    }
  
    .main_body_product_date{
      display:flex;
      justify-content:space-between;
      align-items:center;
      font-size: 20px;
      width:100%;
      margin-bottom:16px;
    }

    .main_body_product_thumbnail{
      /* 웹화면 */
      width:88px;
      min-width:88px;
      min-height:88px;
      height:88px;
      margin-right:16px;

      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
    }
  
    .main_body_product_list{
      width:688px;
      height:100%;
      margin-right:16px;
    }
  
    .main_body_product_item{
      width:100%;
      height:120px;
      display:flex;
      padding:16px;
      justify-content:space-between;
      background-color:#fff;
      position:relative;
      cursor:pointer;
      border-bottom:1px solid #e5e5e5;
    }
  
    .main_body_product_title{
      color:#505050;
      font-weight:bold;
      font-size:16px;
      margin-bottom:12px;
      line-height:16px;
    }
  
    .main_body_product_subtitle{
      color:#828282;
      font-size:13px;
      margin-bottom:16px;
      line-height:14px;
    }

    .main_body_product_likecount{
      width:56px;
      min-width:56px;
      height:80px;
      display:flex;
      margin-right: 16px;
      flex-direction:column;
      align-items:center;
      border:1px solid #e0e0e0;
      border-radius:2px;
    }
  
    .signup_input{
      width:100%;
      height:40px;
      line-height:40px;
      font-size: 13px;
      color:#505050;
      border:1px solid #e5e5e5;
      border-radius:2px;
      padding-left:12px;
    }
  
    .signup_group_title{
      font-size:20px;
      font-weight:bold;
      height:20px;
      line-height:20px;
      text-align:left;
      width:100%;
      margin-bottom:24px;
    }
  
    .signup_group{
        padding:24px 19px 24px 19px;
        background-color:#fff;
        border-radius:2px;
        width:100%;
        display:flex;
        flex-direction:column;
    }

    /* 추가 */

    .product_item{
       width:1040px;
       height:88px;
       display:flex;
       align-items:center;
    }
    .product_item_sort{
        display:flex;
        /* flex-direction: column-reverse; */
    }

    .product_item_title{
      color:#505050;
      font-weight:bold;
      font-size:16px;
      margin-bottom:12px;
      line-height: 16px;
    }

    .product_item_subtitle{
      color:#828282;
      font-size:13px;
      margin-bottom:12px;
      line-height: 13px;
    }

    .product_thumbnail{
        width:88px;
        min-width:88px;
        min-height:88px;
        height:88px;
        margin-right:16px;
  
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
    }

    .product_item_group{
        width:688px;
        background-color:#fff;
        padding:24px;
        box-sizing:border-box;
        margin-right:16px;
        margin-bottom:40px;
    }

    .product_item_img{
        width:640px;
        height:360px;
        margin-bottom:16px;
        cursor:pointer;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        transition:0.3s;
        position:relative;
    }
    .product_item_comment{
        width:688px;
        background-color:#fff;
        box-sizing:border-box;
        margin-right:16px;
        margin-bottom:67px;
     }

     .product_item_comment_input{
        text-align:left;
        color:#505050;
        font-size:14px;
        width:474px;
        border-radius:2px;
        padding:6px 6px 6px 6px;
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        justify-content:center;
        min-height:48px;
     }

     .product_item_comment_submit{
        display:flex;
        width: 100%;
        border-bottom:1px solid #f1f1f1;
        padding:35px 48px 24px 24px;
     }

     .product_item_comment_submit_under{
        display:flex;
        border-top:1px solid #f1f1f1;
        padding-bottom:16px;
     }

     .product_item_comment_sort{
        display: flex;
        flex-direction: column;
     }

     .product_item_comment_submitbtn{
       
        width:78px;
        height:48px;
        margin-left:8px;
    }

    .product_img_previewArray{
      display: flex;
      margin-bottom: 24px;
    }

    /* 추가 */
    .product_item_reply{
      width:616px;
      display:flex;
      position:relative;
      height: 100%;
      margin-bottom:16px;
    }

    .product_item_reply_depth{
      width:520px;
      display:flex;
      position:relative;
      height: 100%;
      margin-bottom:16px;
      margin-left:56px;
    }

    .product_item_reply_list{
      width:100%;
      background-color:#fff;
      padding:32px 48px 31px 24px;
      box-sizing:border-box;
    }
    .product_btn_phone{
      display: none;   
    }

    .product_item_producer{
      display: none;
    }

    .product_item_reply_length{
      text-align:left;
      font-weight:bold;
      font-size:14px;
      margin-bottom:21px;
     }


    .bigImgWindow{
      position:fixed;
      width:100vw;
      height:100vh;
      display:flex;
      background-color:rgba(80,80,80,0.4);
      justify-content:center;
      align-items:center;
      z-index:999;
    }

    .header_icon_web{
      display:flex;
      align-items:center;
      z-index:999;
    }
    .header_icon_phone{
      display:none;
      align-items:center;
      z-index:999;
    }

    .kakao_share{
      width:96px;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_kakao.svg");
      cursor:pointer;
    }

    .facebook_share{
      width:96px;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_facebook.svg");
      cursor:pointer;
    }

    .twitter_share{
      width:96px;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_twitter.svg");
      cursor:pointer;
    }

    .link_share{
      width:96px;
      height:40px;
      margin-right:8px;
      background-image:url("../image/icon_link.svg");
      cursor:pointer;
    }

    /* 프로필 추가 */

    .profile_main{
      width:1040px;
      height:100%;
      display:flex;
      align-items:center;
    }

    .profile_main_thumbnail{
      width:160px;
      height:160px;
      border-radius:50%;
      background-color:#e5e5e5;
      margin-right:40px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }

    .profile_main_body{
      width:1040px;
      display:flex;
      margin-top:32px;
      margin-bottom:32px;
    }

    .profile_main_full{
      width:1040px;
      display:flex;
      margin-top:32px;
      flex-direction:column;
      margin-bottom:32px;
    }

    .profile_main_productList{
      width:688px;
      margin-right:16px;
    }


    /* 블로그페이지 */

    .blogMain_body{
      width:100%;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }

    .blogMain_header{
      width: 1040px;
      margin-top: 72px;
      margin-bottom: 72px;
    }

    .blogMain_title{
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 32px;
    }

    .blogMain_subtitle{
      color:#828282;
      width: 688px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
    }

    .blogMain_contents{
      width:1040px;
    }

    .blogMain_item{
      width:100%;
      height:189px;
      background-color:#fff;
      display:flex;
      justify-content:center;
      margin-bottom: 64px;
    }

    .blogMain_item_text{
      width:688px;
      margin-right: 64px;
    }

    .blogMain_item_text_cate{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color:#a1a1a1;
      margin-top: 15px;
      margin-bottom: 16px;
    }

    .blogMain_item_text_title{
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      height: 24px;
      overflow: hidden;
      line-height: 24px;
      margin-bottom: 24px;
    }

    .blogMain_item_text_summary{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      color: #828282;
      margin-bottom: 16px;
    }

    .blogMain_item_text_writer{
      color: #A1A1A1;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      align-items: center;
    }

    .blogMain_item_thumb{
      width: 288px;
      height: 189px;
      border-radius: 16px;
      background-position:center;
      background-size:cover;
      background-repeat: no-repeat;
    }

    /* 리뷰창 */

    .review_page{
      width:100%;
      display: flex;
      flex-direction:column;
      align-items: center;
    }

    .review_header{
      width: 100%;
      height: 480px;
      border-bottom: 1px solid #f1f1f1;
      display: flex;
      justify-content: center;
    }

    .review_header_text{
      width: 1040px;
      margin-top: 168px;
      margin-bottom: 156px;
    }

    .review_header_text_title{
      width: 688px;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: left;
      color: #505050;
      margin-bottom: 40px;
    }

    .review_header_text_subtitle{
      width: 688px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      color: #828282;
    }

    .review_body{
      width: 1040px;
      display: flex;
      margin-top: 40px;
    }

    .review_mainText{
      width: 688px;
      margin-right: 64px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 72px;
    }

    .review_mainText_date{
      width: 100%;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      align-items: center;
      margin-bottom: 33px;
    }

    .main_proveit.review{
      background-color: #000;
    }

    /* 오른쪽바 */

    .reveiw_preview{
      width:100%;
      height:72px;
      background-color:#fff;
      display:flex;
      justify-content:center;
      align-items:center;
      padding:16px 0px 16px 0px;
    }
    .reveiw_preview.review{
      background-color: #fafafa;
    }

    .reveiw_preview:hover{
      color:#9C31C6;
    }
}

.review_btn:hover{
  color:#9C31C6;
}