
@media screen and (min-width:768px)  and (max-width:834px){
  body{
    overflow-x: hidden;
  }
  .introduce_page{
    width:688px;
  }

  .header_logo{
    left: 40px;
    bottom: 34px;
    width:104px;
    height:32px;
    z-index:9999;
    margin-left: 32px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
  }

  .header_logo_modal{
    width:104px;
    height:32px;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../image/logo.svg);
  }

  .product_item_producer{
    display: none;
  }

  .product_list_array .main_body_product_item:first-child{
    border-radius: 4px 4px 0px 0px;
  }
  .product_list_array .main_body_product_item:last-child{
    border-radius: 0px 0px 4px 4px;
  }
  .review_btn{
    width: 100vw;
    height: 100%;
    min-height: 48px;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  .review_btn:hover{
    color:#fff;
  }

  .header_usermenu{
    display:flex;
    flex-direction:row-reverse;
    position: absolute;
    bottom: 28px;
    right: 40px;
  }

  .header_usermenu_fix{
    display:flex;
    flex-direction:row-reverse;
    margin-right: 42px;
  }
  .homepage_title{
    width: 896px;
    height: 184px;
    border-radius: 8px;
    border: 1px solid #efe5fd;
    margin-top: 24px;
    background-color: #FFF;
    display: none;
    align-items: center;
    padding-left: 40px;
  }

  .homepage_title_textcontents{
    display: flex;
    align-items: center;
  }

  .homepage_title_gif{
    width: 136px;
    height: 136px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../image/coffee_gif.gif);
    margin-right: 32px;
  }

  .homepage_title_text{
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    width: 270px;
    margin-right:162px;
  }

  .homepage_title_btn{
    width: 184px;
    height: 48px;
    background: #6200EE;
    border-radius: 8px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
  }
  

  

  .main_proveit{
    display: none;
  }

    .btn_up{
      z-index: 99999;
      width:40px;
      height:40px;
      position:fixed;
      right:80px;
      bottom: -40px;
      border-radius: 8px;
      background-repeat:no-repeat;
      background-position:center;
      cursor:pointer;
      transition: 0.3s;
    }

    
      .modal_login{
        /* 웹화면 */
        width:690px;
        padding:80px 46px 73px 46px;
    
        margin-top:179px;
        background-color:#fff;
        border-radius:16px;
        display:flex;
        align-items:center;
        flex-direction:column;
        position:fixed;
        top:50%;
        left:50%;
        transform:translate(-50%,-100%);
        color:#262626;
      }

      #header{
        height:120px;
        min-height:120px;
        background-color:#fff;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        z-index:9999;
        width:100vw;
        position: relative;
      }

      #header_fixed{
        width:100vw;
        height:120px;
        background-color:#fff;
        display:flex;
        position:fixed;
        top:-120px;
        justify-content:center;
        flex-direction: column;
        align-items:center;
        min-height:120px;
        z-index:9999;
      }
    
      .header_bar{    
        width:100%;
        height: 72px;
        display:flex;
        align-items:center;
        position:relative;
        border-bottom: 1px solid #EFE5FD;
      }

      .header_coffe{

        width: 100%;
        height: 48px;
        justify-content: center;
        align-items: center;
        background-color: #000;
      }

      .header_coffe>div{
        font-family: Noto Sans KR;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 8px;
        color: #fff;
      }

      .header_coffe>a{
        font-family: Noto Sans KR;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 8px;
        color:#FFD900;
        text-decoration: underline;
        cursor: pointer;
      }

      .header_coffe{
        display: flex;
        justify-content: center;
      }

      .header_bar_menu{
        margin-left: 72px;
        font-weight: 700;
        font-size: 20px;
        display: none;
        color:#000;
      }

      .header_bar_menu:hover{
        color:#f00;
      }
    
      .signup{
        width:512px;
        justify-content:center;
        display:flex;
        flex-direction:column;
        align-items:center;
      }

    .main_body{
      /* 웹화면 */
      display:flex;
      margin-top: 64px;
      height:100%;
    }
  
    .main_body_product_date{
      display:flex;
      justify-content:space-between;
      align-items:center;
      font-size: 16px;
      width:100%;
      height: 16px;
      margin-bottom:8px;
    }

    .main_body_product_thumbnail{
      /* 웹화면 */
      width:40px;
      min-width:40px;
      min-height:40px;
      height:40px;
      margin-right:16px;
      border-radius: 2px;
      background-position:center;
      background-size:cover;
      background-repeat:no-repeat;
    }
  
    .main_body_product_list{
      width:588px;
      height:100%;
      margin-right:16px;
    }
  
    .main_body_product_item{
      width:592px;
      height:72px;
      display:flex;
      align-items: center;
      padding:16px 24px 16px 16px;
      justify-content:space-between;
      background-color:#fff;
      position:relative;
      cursor:pointer;
      border:1px solid #EFE5FD;
      transition: 0.3s;
      margin-bottom: -1px;
      z-index: 999;
    }

    .main_body_product_btnList{
      display: flex;
    }

    .main_body_product_item:hover{
      /* transform: scale(1.01); */
      background-color: #f5f5f5;
      /* border-radius: 16px; */
      z-index: 99;
    }
  
    .main_body_product_title{
      color:#000;
      font-weight:500;
      font-size:14px;
      margin-bottom:8px;
      line-height:18px;
      max-width: 352px;
      height: 18px;
    }
  
    .main_body_product_subtitle{
      color:#7b7b7b;
      font-size:12px;
      max-width: 352px;
      line-height:14px;
      height: 14px;
    }

    .main_body_product_likecount{
      width:64px;
      min-width: 64px;
      min-height: 32px;
      height:32px;
      display:flex;
      justify-content: center;
      align-items:center;
      border:1px solid #262626;
      background-color: #fff;
      border-radius:4px;
      padding:0px 8px;  
    }

    .main_body_product_replycount{
      display: flex;
      align-items: center;
      width: 50px;
      height: 32px;
      border: 1px solid #efe5fd;
      color:#262626;
      border-radius: 4px;
      margin-right: 4px;
    }
    .contentsBody{
      display:flex;
      flex-direction:column;
      align-items: center;
    }
  
    .signup_input{
      width:100%;
      height:40px;
      line-height:40px;
      font-size: 13px;
      color:#262626;
      border:1px solid #e5e5e5;
      border-radius:2px;
      padding-left:12px;
    }
  
    .signup_group_title{
      font-size:20px;
      font-weight:bold;
      height:20px;
      line-height:20px;
      text-align:left;
      
    }

    .signup_icon{
      width: 20px;
      height: 20px;
      margin-left:8px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../image/icon_signup.png);
    }

    .signup_icon_profile{
      width: 20px;
      height: 20px;
      margin-left:8px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url(../image/icon_signup_profile.png);
    }
    
  
    .signup_group{
        padding:24px 24px 30px 24px;
        background-color:#fff;
        border-radius:2px;
        width:100%;
        display:flex;
        flex-direction:column;
    }

    /* 추가 */

    .product_item{
       width:952px;
       height:120px;
       border-radius: 4px;
       border:1px solid #efe5fd;
       display:flex;
       background-color: #fff;
       align-items:center;
       padding: 20px 16px;
    }
    .product_item_sort{
        display:flex;
        width: 952px;
        justify-content: space-between;
        /* flex-direction: column-reverse; */
    }

    .product_item_title{
      color:#262626;
      font-weight:500;
      font-size:16px;
      margin-bottom:10px;
      line-height: 16px;
    }

    .product_item_subtitle{
      color:#7b7b7b;
      font-weight:400;
      font-size:14px;
      height: 14px;
      margin-bottom:16px;
      line-height: 14px;
    }

    .product_thumbnail{
        width:80px;
        min-width:80px;
        min-height:80px;
        height:80px;
        margin-right:24px;
  
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
    }

    .product_item_group{
        width:688px;
        background-color:#fff;
        padding:24px;
        box-sizing:border-box;
        margin-bottom:32px;
    }

    .product_item_img{
        width:640px;
        height:360px;
        margin-bottom:16px;
        cursor:pointer;
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        transition:0.3s;
        position:relative;
    }
    .product_item_comment{
        width:688px;
        background-color:#fff;
        box-sizing:border-box;
        margin-right:16px;
        margin-bottom: 67px;
     }

     .product_item_comment_input{
        text-align:left;
        color:#262626;
        font-size:14px;
        width:100%;
        padding:6px 6px 6px 6px;
        box-sizing:border-box;
        display:flex;
        flex-direction:column;
        justify-content:center;
        min-height:48px;
     }

     .product_item_comment_submit{
        display:flex;
        width: 100%;
        border-bottom:1px solid #f1f1f1;
        padding:35px 48px 24px 24px;
     }
     .community_detail_comment{
       background-color: #fff;
     }

     .product_item_comment_submit_under{
        display:flex;
        padding: 35px 48px 24px 24px;
        border-top:1px solid #f1f1f1;
     }

     .product_item_comment_sort{
        display: flex;
        flex-direction: column;
     }

     .product_item_comment_submitbtn{
        width:78px;
        height:48px;
        margin-left:8px;
    }
    .product_item_comment_submittext{
      text-align:left;
      color:#262626;
      font-size:14px;
      margin-top:19px;
      border-radius:2px;
      padding:6px 6px 6px 6px;
      box-sizing:border-box;
      display:flex;
      flex-direction:column;
      justify-content:center;
      min-height:48px;
    }

    .product_img_previewArray{
      display: flex;
      margin-bottom: 24px;
    }

    /* 추가 */
    .product_item_reply{
      width:100%;
      display:flex;
      position:relative;
      height: 100%;
      margin-bottom:16px;
    }

    .product_item_reply_depth{
      width:568px;
      display:flex;
      position:relative;
      height: 100%;
      margin-bottom:16px;
      margin-left:56px;
    }

    .product_item_reply_list{
      width:100%;
      background-color:#fff;
      padding:32px 48px 31px 24px;
      box-sizing:border-box;
    }
    .product_btn_phone{
      display: none;   
    }


     .product_linkitem{
      width: 100%;
      height: 56px;
      display: flex;
      color:#262626;
      align-items: center;
      padding-left: 24px;
     }

     .product_linkitem:hover{
       background-color: #EFE5FD;
     }


    .bigImgWindow{
      position:fixed;
      width:100vw;
      height:100vh;
      display:flex;
      background-color:rgba(80,80,80,0.4);
      justify-content:center;
      align-items:center;
      z-index:999;
    }

    .header_icon_web{
      display:none;
      align-items:center;
      z-index:999;
    }
    .header_icon_phone{
      width:24px;
      height:24px;
      background-image:url("../image/icon_hambug.svg");
      cursor: pointer;
    }

    .login_btn_list{
      display: none;
    }
    .kakao_share{
      width:32px;
      height:32px;
      margin-right:8px;
      background-image:url("../image/icon_kakao.svg");
      cursor:pointer;
    }

    .facebook_share{
      width:32px;
      height:32px;
      margin-right:8px;
      background-image:url("../image/icon_facebook.svg");
      cursor:pointer;
    }

    .twitter_share{
      width:32px;
      height:32px;
      margin-right:8px;
      background-image:url("../image/icon_twitter.svg");
      cursor:pointer;
    }

    .link_share{
      width:32px;
      height:32px;
      margin-right:8px;
      background-image:url("../image/icon_link.svg");
      cursor:pointer;
    }

    /* 프로필 추가 */

    .profile_main_myinfo{
      width:688px;
      height:100%;
      display:flex;
      align-items:center;
      margin-bottom: 48px;
    }

    .profile_main{
      width:688px;
      height:100%;
      display:flex;
      align-items:center;
      z-index: 99;
    }

    .profile_item_render{
      width: 688px;
      height: 56px;
      display: flex;
      align-items: center;
      border: 1px solid #F1F1F1;
      padding:8px 24px 8px 10px;
      margin-bottom: 4px;
    }

    .profile_not_item{
      margin-top: 80px;
      font-family: Noto Sans KR;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color:#9C31C6;
      display: flex;
      align-items: center;
    }

    .profile_product_thumbnail{
      width: 40px;
      height: 40px;
      min-width: 40px;
      min-height: 40px;
      margin-right: 16px;
      border-radius: 8px;
      background-size: cover;
      background-position: center;
    }

    .profile_product_title{
      font-family: Noto Sans KR;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
      letter-spacing: 0em;
      height: 14px;
      text-align: left;
      width: 100%;
    }

    .profile_category{
      font-family: Noto Sans KR;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: center;
      width: 80px;
      height: 38px;
      padding-bottom:15px;
      cursor: pointer;
    }
    .profile_category:hover{
      color: #6200EE;
    }

    .profile_main_thumbnail{
      width:160px;
      height:160px;
      border-radius:50%;
      background-color:#e5e5e5;
      margin-right:40px;
      background-size:cover;
      background-repeat:no-repeat;
      background-position:center;
    }

    .profile_product_info{
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    .profile_product_info_text{
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: center;
      width: 40px;
      height: 16px;
      color:#9C31C6;
    }

    .profile_main_body{
      width:100%;
      display:flex;
      margin-top:32px;
      margin-bottom:32px;
    }

    .profile_main_full{
      width:100%;
      height: 100%;
      display:flex;
      margin-top:24px;
      align-items: center;
      flex-direction:column;
      margin-bottom:32px;
    }

    .profile_main_productList{
      width:688px;
      margin-right:16px;
    }

    .profile_comment{
      cursor: pointer;
      width: 688px;
      height: 72px;
      padding:16px 32px 16px 18px;
      display: flex;
      border:1px solid #f1f1f1;
      border-radius: 2px;
    }

    .profile_comment_quill>.ql-container>.ql-editor{
      display: flex;
    }

    .profile_comment_quill>.ql-container>.ql-editor>p{
      margin-right: 4px;
    }

    /* 블로그페이지 */

    .blogMain_body{
      width:100%;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }

    .communityMain_body{
      width:1024px;
      display: flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
    }

    .blogMain_header{
      width: 952px;
      margin-top: 72px;
      margin-bottom: 72px;
    }

    .blogMain_title{
      display: flex;
      align-items: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 32px;
    }

    .blogMain_subtitle{
      color:#7b7b7b;
      width: 688px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 36px;
      letter-spacing: 0em;
      text-align: left;
    }

    .blogMain_contents{
      width:952px;
    }

    .blogMain_item{
      width:100%;
      height:189px;
      background-color:#FAFAFC;
      display:flex;
      justify-content:center;
      margin-bottom: 64px;
    }

    .blogMain_item_text{
      width:688px;
      margin-right: 64px;
    }

    .blogMain_item_text_cate{
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      color:#a1a1a1;
      margin-top: 15px;
      margin-bottom: 16px;
    }

    .blogMain_item_text_title{
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      height: 24px;
      overflow: hidden;
      line-height: 24px;
      margin-bottom: 24px;
    }

    .blogMain_item_text_summary{
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      color: #7b7b7b;
      margin-bottom: 16px;
    }

    .blogMain_item_text_writer{
      color: #A1A1A1;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      align-items: center;
    }

    .blogMain_item_thumb{
      width: 288px;
      height: 189px;
      border-radius: 16px;
      background-position:center;
      background-size:cover;
      background-repeat: no-repeat;
    }

    /* 리뷰창 */

    .review_page{
      width:100%;
      display: flex;
      flex-direction:column;
      align-items: center;
    }

    .review_header{
      width: 100%;
      border-bottom: 1px solid #f1f1f1;
      display: flex;
      justify-content: center;
    }

    .review_header_text{
      width: 100%;
      margin-left: 40px;
      margin-top: 88px;
      margin-bottom: 88px;
    }

    .review_header_text_title{
      width: 688px;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: 0em;
      text-align: left;
      color: #262626;
      margin-bottom: 40px;
    }

    .review_header_text_subtitle{
      width: 688px;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0em;
      text-align: left;
      color: #7b7b7b;
    }

    .review_body{
      display: flex;
      width: 100%;
      justify-content: space-between;
      padding:0px 40px;
    }

    .review_mainText{
      width: 624px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 72px;
    }

    .review_mainText_date{
      width: 100%;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      display: flex;
      align-items: center;
      margin-bottom: 33px;
    }

    .main_proveit.review{
      background-color: #000;
    }

    /* 오른쪽바 */

    .reveiw_preview{
      width:100%;
      height:24px;
      display:flex;
      font-weight: 400;
      align-items:center;
    }
    /* .reveiw_preview.review{
      background-color: #fafafa;
    }

    .reveiw_preview:hover{
      background-color:#f5f5f5;
    } */

    /* 제품등록 */

    .register_body{
      width:1040px;
      display:flex;
     


    }
    
    .register_data_input{
      width:512px;
      margin-right:16px;
    }

    .register_data_inputwindow{
      width:100%;
      padding:24px 24px 32px 24px;
      background-color:#fff;
    }

    .register_payment{
      display:flex;
      align-items:center;
    }

    .register_payment_item{
      font-size:14px;
      color:#262626;
      margin-right:24px;
      height:14px;
      line-height:14px;
    }

    .register_payment_item_sort{
      display: flex;
      align-items: center;
    }

    .register_btn{
      display:flex;
      justify-content:space-between;
      align-items:center;
    }

    .register_data_title{
      color:#262626;
      font-size:14px;
      margin-bottom:16px;
      text-align:left;
    }

    .register_img{
      border:1px dashed #e5e5e5;
      width: 40px;
      height: 40px;
      position:relative;
      border-radius:2px;
      background-repeat:no-repeat;
      background-position:center;
      background-size:cover;
      margin-right:8px;
    }

    /* 오른쪽바 */

    .rightbar_pointranking{
      width:100%;
      height: 56px;
      display: flex;
      font-size: 14px;
      align-items: center;
      color:#262626;
      position: relative;
    }

    .rightbar_pointranking:hover{
      background-color: #F5F5F5;
    }

    .rightbar_community_title{
        font-size: 13px;
        font-weight: 500;
        line-height: 17px;
        max-height: 33px;
        overflow: hidden;
        color: #262626;
        margin-bottom: 8px;
    } 

    .rightbar_community_text{
      font-size: 13px;
      font-weight: 500;
      line-height: 17px;
      max-height: 33px;
      overflow: hidden;
      color: #7b7b7b;
    }


    .blog_item_comment_submit{
      display:flex;
      width: 100%;
      margin-top: 28px;
    }

    .blog_item_comment_input{
      text-align:left;
      color:#262626;
      font-size:14px;
      width:498px;
      border-radius:2px;
      padding:6px 6px 6px 6px;
      box-sizing:border-box;
      display:flex;
      flex-direction:column;
      justify-content:center;
      min-height:48px;
   }

   .blog_item_reply_list{
    width:688px;
    height: 100%;
    background-color:transparent;
    box-sizing:border-box;
    border-top: 1px solid #e5e5e5;
    padding-top: 24px;
  }

  .blog_item_reply{
    width:100%;
    display:flex;
    position:relative;
    margin-bottom: 24px;
  }

  .blog_item_reply_depth{
    width:90%;
    display:flex;
    position:relative;
    margin-bottom:16px;
    margin-top: 24px;
    margin-left:36px;
  }

  .blogMain_title_icon{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 8px;
  }

  .community_header_main{
    margin-top: 36px;
    width: 100%;
    margin-bottom: 36px;
    display: flex;
  }

  .community_header_write{
    margin-top: 72px;
    width: 1040px;
    margin-bottom: 64px;
    display: flex;
  }


  .community_header_item{
    margin-top: 72px;
    width: 100%;
    margin-bottom: 64px;
    display: flex;
  }

  .community_title{
    display: flex;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    height: 32px;
    letter-spacing: 0em;
    text-align: left;

  }

  .community_contents{
    position: relative;
    display: flex;
    width: 100%;
  }

  .community_contents_item{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .community_item{
      width: 688px;
      height: 188px;
      left: 0px;
      top: 0px;
      background: #fff;
      border: 1px solid #F1F1F1;
      box-sizing: border-box;
      border-radius: 16px;
      padding: 16px 24px 20px 24px;
      transition: 0.3s;
      margin-bottom: 8px;
  }

  
  .community_item_detail{
    width: 688px;
    left: 0px;
    top: 0px;
    background: #fff;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 16px;
    transition: 0.3s;
    margin-top: 40px;
}

.community_item_detail_header{
  width:100%;
  padding:16px 24px 24px 24px;
  border-bottom:1px solid #f1f1f1;
}
.community_item_detail_title{
  margin-top: 24px;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  height: 16px;
  letter-spacing: 0em;
  text-align: left;
}
.community_item_detail_text{
  font-family: Noto Sans KR;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 18px;
  padding:24px;
}

.community_item_detail_footer{
  display: flex;
  align-items: center;
  height: 16px;
  font-size: 12px;
  color:#a5a5a5;
  margin:24px; 
}

  .community_item:hover{
    background: rgba(156, 49, 198, 0.05);
    color:#262626;
}

  .community_item_header{
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 16px;
  }

  .community_add_header{
    display: flex;
    height: 40px;
    align-items: center;
    margin-bottom: 16px;
  }

  .community_item_title{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }

  .community_item_text{
    font-family: Noto Sans KR;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    height: 32px;
    color:#a5a5a5;    
    margin-bottom: 18px;
    overflow: hidden;
  }

  .community_item_text>.ql-container>.ql-editor{
    display: flex;
    flex-wrap: wrap;
  }

  .community_item_text>.ql-container>.ql-editor>p{
    margin-right: 4px;
  }

  .community_item_footer{
    display: flex;
    align-items: center;
    height: 16px;
    font-size: 12px;
    color:#a5a5a5;
  }

  .community_item_category{
    width:100%;
    display:flex;
    margin-bottom:16px;
    align-items:center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    height: 14px;
    letter-spacing: 0em;
    text-align: left;
    cursor: pointer;
  }

  .community_item_category:hover{
    color:#9C31C6;
    font-weight: 700;
  }
  .community_body{
    width: 1040px;
    display: flex;
    justify-content: space-between;
  }
  
  .community_add_window{
    height: 626px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 16px 24px 32px 24px;
  }

  .community_rightbar{
    width: 336px;
    height: 124px;
    background: #FFFFFF;
    box-sizing: border-box;
  }

  .community_rightbar_item{
    width: 336px;
    height: 124px;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px;
    color:#9C31C6;
    font-size: 13px;
    font-weight: 400;
    Line-height:23.4px;
  }

  .community_item_add_title{
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    height: 14px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 8px;
  }

  .community_item_add_input{
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #F1F1F1;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 16px;
  }

  .community_item_reply_length{
  text-align:left;
  font-weight:bold;
  font-size:14px;
  margin-top: 32px;
  margin-bottom:16px;
  }

  .community_item_comment{
    width:688px;
    background-color:#fff;
    box-sizing:border-box;
    border: 1px solid #f1f1f1;
    margin-bottom:40px;
    border-radius: 16px;
    padding-top: 32px;
  }

  .community_item_reply_list{
    width:100%;
    background-color:#fff;
    box-sizing:border-box;
    border-bottom: 1px solid #F1F1F1;
    padding: 0px 24px 0px 24px;
  }  
  .comment_modify{
    width:100%;
    display: flex;
    margin-bottom:16px;
  }

  .profile_header_info{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:55px;
    position:relative;
  }

  .profile_main_nick{
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
  }

  .profile_main_position{
    font-size: 14px;
    color: #7b7b7b;
    height: 14px;
    line-height: 14px;
    margin-bottom: 16px;
  }

  .profile_main_join{
    font-size: 14px;
    color: #7b7b7b;
    height: 14px;
    line-height: 14px;
    margin-bottom: 18px;
  }

  .profile_main_modifyBtn{
    width: 120px;
    height: 40px;
  }

  .profile_comment_icon{
    width:24px;
    min-width:24px;
    min-height:24px;
    height:24px;
    margin-right:24px;
  }
  .comuunity_header_phone{
   display: none; 
  }
  .community_contents_sort{
    display: flex;
    margin-bottom: 16px;
  }
  .community_contetns_category{
    display: none; 
  }

  .community_item_modify_web_btn{
    display: flex;
    align-items: center;
  }

  .community_item_modify_phone_btn{
    display: none;
  }

  .community_item_option_bar{
    display: flex;
    align-items: center;
  }

  .product_item_web{
    display: 100%;
  }

  .product_item_comment_submittext,.blog_item_comment_submitbtn{
    text-align:left;
    color:#262626;
    font-size:14px;
    border-radius:2px;
    padding:6px 6px 6px 6px;
    box-sizing:border-box;
    width: 100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:48px;
  }

  .replay_window{
    display:flex;
    margin-top: 16px;
    padding-bottom:16px;
    align-items: center;
    width:100%;
  }

  .community_btn_phone{
    margin-left: 8px;
  }

  .homepage_main_btn1,.homepage_main_btn2{
    border:3px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
  }
  .homepage_main_btn1{
    width: 216px;
    height: 64px;
    margin-right: 8px;
    border-radius: 82px;
  }

  .homepage_main_btn2{
    width: 116px;
    height: 64px;
    border-radius: 74px;
  }

  .homepage_main_btn1:hover,.homepage_main_btn2:hover{
    background-color: #000;
    color: #fff;
  }

  .introduce_page_text{
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    color:#c8c8c8;
  }
  .introduce_page_highlight{
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
  }
  
  .guideline_page_text{
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color:#fff;
    padding-bottom: 32px;
    border-bottom: 1px solid #fff;
  }
  .guideline_page_highlight{
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color:#fff;
    margin-bottom: 4px;
  }

  .QA_page{
    width: 1040px;
  }
  .QA_title{
    font-family: Noto Sans KR;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 51px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    padding-bottom: 88px;
    margin-top: 88px;
  }

  .QA_contents{
    padding:56px 0px 56px 0px;
    border-top: 1px solid #f1f1f1;
  }

  .QA_contents_title{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color:#000;
    margin-bottom: 24px;
  }

  .QA_contents_text{
    font-family: Noto Sans KR;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 40px;
  }
  .QA_contents_btn{
    padding: 20px 32px 20px 32px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    border: 3px solid #000;
    border-radius: 2px;
    cursor: pointer;
    background-color: #fff;
  }
  .QA_contents_btn:hover{
    background-color: #000;
    color: #fff;
  }

  .guideline_page_contents{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #FFFFFF;
    margin-top: 32px;
  }

  .guideline_page_contents>li{
    margin-left: 8px;
  }
  .profile_myInfo{
    width:1040px;
    margin-top:40px;
  }

  .profile_myInfo_contents{
    width:512px;
    margin-right:16px;
    background-color:#fff;
    padding:24px 24px 32px 24px;
    margin-bottom:24px;
  }

  .profile_myInfo_contents_btn{
    width:512px;
    display:flex;
    flex-direction:row-reverse;
    margin-bottom:133px;
    align-items:center;
  }
  .profile_myInfo_input{
    border:1px solid #e5e5e5;
    width:464px;
    height: 40px;
    padding:13px 12px 14px 12px;
    color:#262626;
    border-radius:2px;
    background-color:#fff;
    font-size:13px;
    margin-bottom:16px;
  }
  .iphone{
    height: 13px;
    line-height: 13px;
    font-size: 13px;
  }









  .event_header{
    margin-top: 40px; 
    border-bottom: 1px solid #EFE5FD;
  }

  .event_title{
    font-family: Noto Sans KR;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color:#000;
    margin-bottom: 18px;
  }

  .event_subtitle{
    display: flex;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 48px;
  }

  .event_body_h3{
    margin-top: 64px;
    font-family: Noto Sans KR;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 24px;
  }

  .event_body_h4{
    font-family: Noto Sans KR;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color:#262626;
  }
  .event_contents{
    width: 896px;
  }
  .event_coffe_gif{
    width: 136px;
    height: 136px;
    background-size: cover;
    background-image: url(../image/coffee_gif.gif);
    
  }

  .event_coin_gif{
    width: 80px;
    height: 80px;
    margin-top: 72px;
    background-size: cover;
    background-image: url(../image/spin_coin_gif.gif);
  }

  .event_body_join_title{
    width: 112px;
    height: 40px;
    background: #6200EE;
    border-radius: 32px;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin-top: 76px;
    margin-bottom: 16px;
  }

  .event_body_join{
    margin-left: 32px;
    color:#6200EE;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
  }

  .event_body_info{
    margin-left: 32px;
    color:#7b7b7b;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 87px;
  }


  .event_body_info_title{
    width: 112px;
    height: 40px;
    background:  #7B7B7B;
    border-radius: 32px;
    font-family: Noto Sans KR;
    font-size: 20px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin-top: 84px;
    margin-bottom: 16px;
  }

  .event_body{
    border-bottom:1px solid #EFE5FD;
  }

  .how_to_get_point_list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .get_point_item{
    width: 288px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  .get_point_item_title{
    height: 56px;
    width: 100%;
    background-color: #EFE5FD;
    border-radius: 4px 4px 0px 0px;
    color:#6200EE;
    font-family: Noto Sans KR;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    align-items: center;
    padding:0px 24px;
    border-bottom: 1px solid #6200EE;
  }

  .get_point_item_body{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    padding: 16px;
  }

  .get_point_item_body_text_item{
    display: flex;
    margin-bottom: 24px;
  }

  .point_icon{
    font-weight: bold;
    font-size: 30px;
    height: 20px;
    line-height: 20px;
    margin-right: 8px;
  }

  .get_point_item_body_text{
    font-family: Noto Sans KR;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

  }

  .get_point_item_body_text>b{
    font-weight: 400;
    color: #7B7B7B;
  }
  .reply_phone{
    display: none;
  }

  
  .reply_profile{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }

  .register_preview{
    width:488px;
  }
  

  .profile_point_header{
    display: flex;
    height: 32px;
    width: 688px;
    align-items: center;
    margin-top: 8px;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  .profile_point_header_text{
    display: flex;
    align-items: center;
    font-family: Noto Sans KR;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
  }

  .profile_point_header_text>b{
    color: #6200EE;
    font-weight: 400;
  }

  .profile_point_header_datelist{
    display: flex;
    position: relative;
  }

  .profile_point_header_list{
    width: 100%;
    padding:0px 16px;
    border-radius: 4px;
    border: 1px solid #efe5fd;
    background-color: #fff;
    min-height: 56px;
  }

  .profile_point_list_item{
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    padding: 12px 0px;
    
    font-size: 13px;
    border-bottom: 1px solid #EFE5FD;
  }

  .point_plus{
    width: 42px;
    height: 32px;
    border: 1px solid #6200EE;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#6200EE;
    font-size: 12px;
  }

  .point_minus{
    width: 42px;
    height: 32px;
    border: 1px solid #ED5C2E;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ED5C2E;
    font-size: 12px;
  }

  .profile_point_list_item_comment{
    width: 196px;
    margin-left: 16px;
    margin-right: 80px;
  }
  .profile_point_list_item_date{
    width: 136px;
    margin-right: 66px;
  }

  .profile_point_list_item_point_p{
    width: 120px;
    color:#6200EE;
    text-align: right;
  }
  .profile_point_list_item_point_m{
    width: 120px;
    color:#ED5C2E;
    text-align: right;
  }

  .profile_point_header_datelist_dropMenu{
    width: 72px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EFE5FD;
    background-color: #fff;
    border-radius: 2px;
    padding:6px;
    cursor: pointer;
    margin-left: 5px;
  }

  .profile_date_item{
    width: 72px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:8px 0px;
    cursor: pointer;
  }

  .profile_date_item:hover{
    background-color:  #F5EAF9;
  }

  .profile_date_item_list{
    padding:8px 0px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    min-height:56px;
  }

  .profile_point_header_datelist_text{
    font-size: 13px;
    font-weight: 500;
  }
}